:root {
    --main: #2d3a72;
    --main-light: #344074;
    --secondary: gold;
    --text: white;
    --offwhite: #EDF2F8;
    --lightborder: rgba(240, 248, 255, .25);
    --btn-back: #969CB8;
    --btn-hover: #EAEBF0;
    --background-gradient: #493472;
}

body {
    background: linear-gradient(var(--main), var(--background-gradient));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
    padding: 1rem .5rem;
    max-width: 1250px;
    margin: 1rem auto;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

p {
    border-bottom: 1px solid var(--lightborder);
    padding-bottom: 1rem;
}

.text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: .9rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: 400;
}

.no-border {
    border: none;
    margin: auto;
}

.bottom-border {
    border-bottom: 1px solid var(--lightborder);
    padding-bottom: 1rem;
}

.no-top-margin {
    margin-top: 0;
}

.link {
    color: var(--text);
}

.link:visited {
    color: var(--text);
}

/* MAIN */

#main {
    margin-top: 5rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1250px;
    display: flex;
    gap: 1rem;
    background-color: var(--main);
    border-bottom: 1px solid var(--lightborder);
    padding: 2rem 0;
}

menu {
    display: flex;
    gap: 1rem;
}

.question-container {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0 .75rem;
}

.question {
    font-weight: 300;
}

.question-num {
    font-size: 1.5rem;
    width: 1.25rem;
    color: var(--secondary);
}

.answer {
    margin-bottom: .25rem;
    border-radius: .25rem;
    padding: .25rem 0;
    font-weight: 300;
    max-width: 9rem;
    display: flex;
    align-items: center;
}

.answer:hover {
    background: var(--offwhite);
    color: var(--main);
    font-weight: 500;
}

fieldset {
    margin-bottom: 2rem;
}

legend {
    color: var(--secondary);
}

label {
    margin-left: .25rem;
    font-size: .8rem;
}

#score {
    display: grid;
    gap: 1rem;
    text-align: center;
    margin: 1.5rem auto 1rem;
}

#save-delete {
    position: fixed;
    top: 1rem;
    /* left: 1rem; */
    display: flex;
    gap: .5rem;
    text-align: center;
    margin: 1rem auto;
}

button {
    padding: .25rem .75rem;
    border-radius: .25rem;
    border: none;
    font-weight: 600;
    background: var(--btn-back);
    color: var(--main);
}

button:hover {
    outline: 1px solid var(--offwhite);
    background: var(--btn-hover);
    cursor: pointer;
}

/* LANDING */

.section {
    margin-top: 1rem;
}

.tool {
    border: 1px solid var(--lightborder);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
}

.tool:hover {
    border: 1px solid var(--btn-hover);
    background: linear-gradient(var(--background-gradient), var(--main));
}

.tool button {
    margin: 1rem 0;
    align-self: flex-end;
}

/* ADHD TOOLS */

.asrs5checkbox {
    margin-right: .5rem;
}

.checkbox-label {
    display: flex;
    align-items: flex-start;
    margin-bottom: .5rem;
}

#checkbox-questions {
    margin-bottom: 2rem;
}

/* SASI */

.sasi-container {
    display: grid;
    gap: .5rem;
    margin-bottom: .5rem;
}

.sasi-container select {
    outline: none;
}

.sasi-section {
    margin-top: 1.75rem;
    background-color: var(--offwhite);
    color: var(--main);
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-weight: 600;
}

.sasi-category {
    background-color: var(--lightborder);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.sasi-question {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: .5rem;
}

.sasi-question:last-child {
    margin-bottom: .5rem;
}

.sasi-select {
    align-self: start;
}

.sasi-footer {
    padding: 3rem 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    .tools {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width: 600px) {
    fieldset {
        display: grid;
        grid-template-columns: .8fr .8fr 1fr .8fr 1fr;
        gap: .5rem;
    }

    .answer {
        outline: 1px solid var(--lightborder);
    }
}

@media screen and (min-width: 750px) {
    .tools {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .asrs1-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "asrs1-score" "asrs1-buttons";
        align-items: center;
        gap: 1rem;
    }

    .asrs1-score {
        grid-area: asrs1-score;
    }

    .asrs5-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1rem;
    }

    .button-container button {
        width: 100%;
        max-width: 15rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {
    .tools {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* 
@media screen and (min-width: 1250px) {
    .tools {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1500px) {
    .tools {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1750px) {
    .tools {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
*/