:root {
    --main: #2d3a72;
    --secondary: gold;
    --text: white;
    --offwhite: #EDF2F8;
    --lightborder: rgba(240, 248, 255, .25);
    --btn-back: #969CB8;
    --btn-hover: #EAEBF0;
}

body {
    background: var(--main);
    color: var(--text);
    padding: 1rem .5rem;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

p {
    border-bottom: 1px solid var(--lightborder);
    padding-bottom: 1rem;
}

.text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: .9rem;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.italics {
    font-style: italic;
}

.question-container {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0 .75rem;
}

.question {
    font-weight: 300;
}

.question-num {
    font-size: 1.5rem;
    width: 1.25rem;
    color: var(--secondary);
}

.answer {
    margin-bottom: .25rem;
    border-radius: .25rem;
    padding: .25rem 0;
    font-weight: 300;
    max-width: 9rem;
    display: flex;
    align-items: center;
}

.answer:hover {
    background: var(--offwhite);
    color: var(--main);
    font-weight: 500;
}

fieldset {
    margin-bottom: 2rem;
}

legend {
    color: var(--secondary);
}

label {
    margin-left: .25rem;
    font-size: .8rem;
}

#score {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.score-btn {
    padding: .25rem .75rem;
    border-radius: .25rem;
    border: none;
    font-weight: 600;
    background: var(--btn-back);
    color: var(--main);
}

.score-btn:hover {
    outline: 1px solid var(--offwhite);
    background: var(--btn-hover);
}

button:hover {
    cursor: pointer;
}

/* LANDING */

.section {
    margin-top: 1rem;
}

.tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.tool {
    border: 1px solid var(--lightborder);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.tool button {
    margin: 1rem 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
    fieldset {
        display: grid;
        grid-template-columns: .8fr .8fr 1fr .8fr 1fr;
        gap: .5rem;
    }

    .answer {
        outline: 1px solid var(--lightborder);
    }
}